# requirements.in
numpy
pandas
matplotlib
seaborn
gymnasium[atari]>=1.2,<2.0
ale-py>=0.10
torch>=2.8,<3.0
stable-baselines3[extra]>=2.8,<3.0
tensorboard
jupyterlab
ipykernel
ipywidgets
imageio
imageio-ffmpeg
opencv-python-headless
moviepy>=1.0,<2.0